form {
  background-color: rgb(183, 183, 218);
  margin-top: 80px;
  margin-left: 38%;
  height: 380px;
  width: 310px;
  border-radius: 5%;
  padding: 10px;
}

.button {
  margin-left: 100px;
  border-style: none;
  height: 30px;
  width: 100px;
  border-radius: 5%;
}
.button:hover {
  background-color: green;
}
